.header__logo {
  display: block;
  width: 103.74px;
  height: 24.4px;
  object-fit: contain;
  margin: 0 auto 31.6px 27px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0 auto 31.6px 0;
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
  }
}
