.popup__title-image {
  text-align: start;
  margin: 10px auto 0 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color:#FFFFFF;
  line-height: 14.52px;
  font-size: 12px;
  font-weight: 400;
}
