.element__form-like {
  width: 100%;
  margin: 0;
  display: flex; /* inline-flexпри flex ellipsis не срабатывает, надо ограничить ширину*/
  /* align-items: baseline; */
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  align-items: center;
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
}
