@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);

@import url(./blocks/root/root.css);

@import url(./blocks/page/page.css);

@import url(./blocks/button/button.css);

@import url(./blocks/content/content.css);
@import url(./blocks/content/__page/content__page.css);

@import url(./blocks/content/__profile/content__profile.css);
@import url(./blocks/content/__elements/content__elements.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/navbar/navbar.css);
@import url(./blocks/navbar/__link/navbar__link.css);
@import url(./blocks/navbar/__nav/navbar__nav.css);
@import url(./blocks/navbar/__button/navbar__button.css);
@import url(./blocks/navbar/__link/_hidden/navbar__link_hidden.css);


@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);



@import url(./blocks/elements/elements.css);

@import url(./blocks/elements/__grid/elements__grid.css);
@import url(./blocks/element/element.css);


@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__trash-btn/element__trash-btn.css);
@import url(./blocks/element/__trash-btn/element__trash-btn_hidden.css);
@import url(./blocks/element/__trash-btn/element__trash-btn_visible.css);
@import url(./blocks/element/__form-like/element__form-like.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like-count/element__like-count.css);
@import url(./blocks/element/__like-btn/element__like-btn.css);
@import url(./blocks/element/__like-btn/_active-btn/element__like-btn_active.css);


@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_theme/popup_theme_dark.css);
@import url(./blocks/popup/_theme/popup_theme_light.css);
@import url(./blocks/popup/_opened/popup_opened.css);

@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_type/popup__container_type_form.css);
@import url(./blocks/popup/__container/_type/popup__container_type_image.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__title-image/popup__title-image.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__image-info/popup__image-info.css);
@import url(./blocks/popup/__title/popup__title.css);

@import url(./blocks/form/form.css);

@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__button/_place/form__button_place_page.css);
@import url(./blocks/form/__button/_place/form__button_place_popup.css);

@import url(./blocks/form/__container/form__container.css);
@import url(./blocks/form/__container/_place/form__container_place_page.css);
@import url(./blocks/form/__container/_place/form__container_place_popup.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__input/_place/form__input_place_page.css);
@import url(./blocks/form/__input/_place/form__input_place_popup.css);

@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__title/_place/form__title_place_page.css);
@import url(./blocks/form/__title/_place/form__title_place_popup.css);
@import url(./blocks/form/__error/_visible/form__error_visible.css);
@import url(./blocks/form/__error/form__error.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/register/__signin/register__signin.css);
